<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <world>
        <maxX>100</maxX>
        <maxY>2000</maxY>
    </world>
    <creature>
        <startHealth>100</startHealth>
        <damage>10</damage>
    </creature>
      <path> C:\Users\sabin\source\repos\Turn2D-Game-Framework\log.txt </path>
</configuration>
